body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #0f172a;
  color: white;
}

.app-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background: #111827;
  padding: 30px;
  box-shadow: 4px 0 20px rgba(0, 0, 0, 0.3);
}

.sidebar h2 {
  margin-bottom: 40px;
  color: #38bdf8;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 16px 0;
  display: flex;
  gap: 12px;
  font-size: 18px;
  cursor: pointer;
  color: #cbd5e1;
}

.sidebar li:hover {
  color: white;
}

.main-content {
  flex: 1;
  padding: 30px;
}

.header h1 {
  margin-bottom: 10px;
}

.header p {
  color: #94a3b8;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.stats-card {
  background: #1e293b;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}

.stats-card h4 {
  color: #94a3b8;
  margin-bottom: 10px;
}

.stats-card h2 {
  margin: 0;
  color: #38bdf8;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  margin-top: 30px;
}

.form-panel,
.result-panel {
  background: #1e293b;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}

.prediction-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 20px;
}

.prediction-form input,
.prediction-form select {
  padding: 14px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #334155;
  color: white;
}

.prediction-form button {
  grid-column: span 2;
  padding: 16px;
  border: none;
  border-radius: 12px;
  background: #2563eb;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.prediction-form button:hover {
  background: #1d4ed8;
}

.result-card {
  margin-top: 20px;
}

.result-item {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
  border-bottom: 1px solid #334155;
}

.danger {
  color: #ef4444;
}

.safe {
  color: #22c55e;
}

.prediction-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #cbd5e1;
}

.prediction-form div {
  display: flex;
  flex-direction: column;
}

.chart-panel,
.history-panel {
  background: #1e293b;
  padding: 30px;
  border-radius: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 14px;
  text-align: left;
  border-bottom: 1px solid #334155;
}